body{
    background-color: #525252;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 20px;
}

.form-group {
  padding: 10px;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 390px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  color: black;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 415px;
  color: pink;
  transition: 0.2s ease all;
}